
#bitcoinPassword[value="super_duper_strong_pa55word"] + div::after {
    content: "Access Granted!";
    display: block;
    text-align: center;
    font-size: 20px;
    color: green;
    margin-top: 10px;
}